#profile-name {
	display: block;
	font-size: 2em;
}

#add-image,
#update-profile {
	display: none;
}

.is-user #add-image,
.is-user #update-profile {
	display: block;
}

.post .profile-image {
	display: none;
}